<% @post.comments.each do |comment| %>
  <%= render partial: 'comment', locals: { comment: comment } %>
<% end %>


<% @article.comments.each do |comment| %>
  <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
<% end %>
